.resume-technology-div {
	display: flex;
	flex-wrap: wrap;
	border-radius: 1rem;
	background-color: rgba(0, 0, 0, 0.6);
	justify-content: center;
	width: calc(100% - 1rem);
	margin-bottom: 1rem;
}

.resume-technology-div h2 {
	font-family: "Graphik";
	color: white;
	width: 100%;
	text-align: center;
}

.resume-jobs-background-wrapper {
	width: calc(100% - 1rem);
	margin-bottom: 1rem;
}

.resume-jobs-background-fadein {
	animation: fadein 0.5s forwards ease-in;
}

.resume-employment-wrapper {
	width: 100%;
	overflow-y: visible;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	margin-bottom: 2rem;
	position: relative;
}

.resume-employment-section {
	width: 40%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
	overflow-y: visible;
	border-radius: 1rem;
}

.resume-employment-section img {
	width: 40%;
	margin: 1rem;
}

.resume-employment-section iframe {
	aspect-ratio: 1 / 1;
	width: 75%;
	border-radius: 1rem;
	margin-top: 0.5rem;
}

.resume-location-above-text {
	font-family: "Graphik";
	color: white;
	margin-top: 0px;
	font-weight: bolder;
}

.resume-employment-job-title {
	font-family: "Graphik";
	color: white;
	margin: 0.5rem;
}

.resume-employment-filled-circle {
	position: absolute;
	left: 50%;
	top: 50%;
}

@media (max-width: 768px) {
	.resume-employment-wrapper {
		flex-direction: column;
	}

	.resume-employment-section {
		width: 100%;
	}

	.resume-employment-filled-circle {
		display: none;
	}
}
