.home-left-divider {
	height: 10rem;
	width: 60%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	overflow: visible;
}

.home-right-divider {
	width: 40%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.home-right-divider img {
	height: 22.5rem;
	border-radius: 1rem;
}

.home-left-divider img {
	aspect-ratio: 1 / 1;
	height: 2rem;
	cursor: pointer;
	transition: all 0.125s;
}

.home-left-divider img:hover {
	transform: scale(1.2);
}

@media (max-width: 768px) {
	.home-left-divider {
		width: 100%;
		height: 40%;
		flex-direction: column;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		text-align: center;
	}
	.home-right-divider {
		width: 100%;
		height: 60%;
		padding: 0px;
	}

	.home-right-divider img {
		height: 50%;
	}
}
