.uno-background {
	width: 13rem;
	height: 20rem;
	border: 4px solid white;
	position: relative;
	background-color: white;
}

.uno-background-filter {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	transition: background-image 200ms linear;
	animation: uno-background-glow 1s alternate-reverse infinite ease-in;
}

@keyframes uno-background-glow {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0.5;
	}
}

.uno-current-card-div {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.uno-current-card-actions-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.uno-current-card-actions-container-call-uno {
	height: 33%;
	transform: translateX(-1rem) translateY(8px);
	filter: blur(0.5px) grayscale(1) brightness(0.5);
}

.uno-current-card-actions-container-call-uno-active {
	cursor: pointer;
	animation: uno-call-glow 500ms alternate-reverse infinite ease-in;
}

@keyframes uno-call-glow {
	0% {
		filter: brightness(1);
	}
	100% {
		filter: brightness(1.5) hue-rotate(360deg);
	}
}

.uno-draw-card-action-card {
	transform: scale(0.5);
	transform-origin: top;
	cursor: pointer;
}

.uno-current-card {
	transform: scale(0.7);
}

.uno-hands-background-wrapper-0 {
	width: 100%;
	position: absolute;
	height: 75px;
	bottom: 0px;
	left: 0px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	overflow: visible;
	gap: 3px;
	transform-origin: center center;
}

.uno-hands-background-wrapper-1 {
	width: 100%;
	height: 25px;
	left: 0px;
	top: 0px;
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	overflow: visible;
	gap: 3px;
	transform-origin: center center;
}

.uno-hands-background-wrapper-2 {
	width: 100%;
	height: 25px;
	position: absolute;
	top: 0px;
	left: 0px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	overflow: visible;
	gap: 3px;
	transform-origin: center center;
}

.uno-hands-background-wrapper-3 {
	width: 100%;
	height: 25px;
	left: 0px;
	top: 0px;
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	overflow: visible;
	gap: 3px;
	transform-origin: center center;
}

.uno-summary-container {
	position: absolute;
	height: 5rem;
	width: 8rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	border-radius: 1rem;
	top: 7.25rem;
	left: 2.25rem;
	font-family: "Toxigenesis";
	font-size: 1.25rem;
	border: 0.25rem solid white
}
