* {
	overflow: hidden;
}

body {
	margin: 0px;
}

@font-face {
	font-family: "Consolas";
	src: url("./assets/fonts/Consolas.ttf");
}

@font-face {
	font-family: "Consolas-Italisized";
	src: url("./assets/fonts/Consolas-Italisized.ttf");
}

@font-face {
	font-family: "Cascadia";
	src: url("./assets/fonts/Cascadia.ttf");
}

@font-face {
	font-family: "Graphik";
	src: url("./assets/fonts/Graphik.ttf");
}

@font-face {
	font-family: "Digital";
	src: url("./assets/fonts/Digital-7.ttf");
}

@font-face {
	font-family: "Toxigenesis";
	src: url("./assets/fonts/Toxigenesis.ttf");
}

@font-face {
	font-family: "Rebellion";
	src: url("./assets/fonts/Rebellion.ttf");
}

@font-face {
	font-family: "8-bit";
	src: url("./assets/fonts/8-bit.ttf");
}

.main-content {
	height: 100vh;
	width: 100vw;
	overflow-y: auto;
	z-index: -1;
}

.main-wrapper {
	width: 100%;
	height: calc(100% - 7rem);
	margin-top: 3.5rem;
	z-index: 1;
	position: relative;
	animation: fadein 0.35s forwards ease-in-out;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	overflow-y: auto;
}

@keyframes fadein {
	0% {
		opacity: 0;
		transform: translateY(5rem);
	}
	100% {
		opacity: 1;
	}
}

@media (max-width: 768px) {
	.main-wrapper {
		margin-top: 7rem;
		margin-bottom: 2rem;
	}
}
