*{
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto Condensed', sans-serif;
  overflow-x: hidden;
}

nav{
  display: flex;
  box-shadow: 0px 0px 10px rgb(73, 73, 73);
  width: 100vw;
  height: 12.5vh;
  position: fixed;
  top: 0;
}

.logo{
  margin-left: 4vw;
  height: 8vh;
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
}

.toggle{
  cursor: pointer;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 4vw;
  margin-right: 4vw;
  box-shadow: 0 0.5vh rgb(141, 141, 141);
  border: none;
  color: #2968D0;
  font-weight: 1000;
}

.toggle:active{
  transform: translateY(0.5vh);
  box-shadow: none;
}

.name{
  font-weight: 10;
  font-size: 1.75rem;
  font-family: 'Rubik Beastly', cursive;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 1vw;
  color: #2968D0;
}

.sec{
  margin: auto 0px auto 0px;
  width: 10vw;
  text-align: center;
  vertical-align: middle;
  line-height: 4.5vh;
  font-size: 1.5rem;
  cursor: pointer;
  overflow-y: hidden;
}

.sec:hover{
  animation-name: seccolor;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes seccolor{
  100% {background-color: #8f8f8f; color: #2968D0;}
}

.completepage{
  width: 100vw;
  margin-top: 12.5vh;
  min-height: 87.5vh;
}

.evalstitle{
  text-align: center;
  line-height: 15vh;
}

.boxes{
  display: inline-grid;
  border: 3px solid #2968D0;
  width: 15.5vw;
  height: 15.5vw;
  margin: 0px 2.15vw 1.5vw 2.15vw;
  border-radius: 20px;
  cursor: pointer;
  font-size: 3.5rem;
  line-height: 14.5vw;
}

@keyframes expands{
  0% {display: inline;}
  100% {width: 16.4vw; height: 16.4vw; transform: translate(-0.45vw, -0.45vw); line-height: 15.45vw;}
}

.boxes:hover{
  animation: expands 1s;
  animation-fill-mode: forwards;
}

.course{
  min-height: 20vh;
}

.return{
  box-shadow: 0.25vh 0.5vh #2968D0;
  border: none;
  background-color: #5DD9FB;
  font-weight: 1000;
  margin-left: 2vw;
  margin-right: auto;
  margin-bottom: 3vh;
  border-radius: 5px;
  width: 5vw;
  height: 3vh;
}

@keyframes returnbutton{
  100% {transform: translate(0.25vh, 0.5vh); box-shadow: none;}
}

.return:active{
  animation-name: returnbutton;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.welcome{
  margin-left: calc(50vw - 22rem);
  margin-right: calc(50vw - 22rem);
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.home{
  display: grid;
}

.intro{
  margin: -5vh 2vw 4vh 2vw;
  font-size: 1.25rem;
}

.video{
  margin-left: auto;
  margin-right: auto;
  margin-top: -5vh;
  border-radius: 2vw;
  border: 3px solid #2968D0;
}

.soon{
  font-size: 5rem;
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
}

.routetovids{
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.videos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 3vh;
}

.vid{
  margin: 3vh 3vw 0px 3vw;
}

.resside{
  width: 30vw;
  height: 85vh;
  position: fixed;
  border: 3px solid #2968D0;
  border-radius: 2.5vw;
  display: flex;
  flex-wrap: wrap;
}

.ressideelem{
  margin: 2vh 2vw;
  font-size: medium;
}

.employ{
  display: flex;
  flex-wrap: wrap;
  margin-left: 32vw;
}

.project{
  margin: 3vh 2vw 0px 2vw;
  display: grid;
  overflow: hidden;
  border: 3px solid #2968D0;
  border-radius: 2.5vw;
}

.aboutimage{
  height: 35vh;
}

.aboutimage:hover{
  animation: pop 1s;
  animation-fill-mode: forwards;
}

@keyframes pop{
  100% {opacity: 1}
}

.rotate{
  animation: rotation 2s;
}

@keyframes rotation {
  100% {transform: rotate(360deg);}
}

.downloadPDF{
  animation: downloadPDF 1s forwards;
}

@keyframes downloadPDF {
  100% {
    width: 0vh;
    padding: 0vh;
    display: hidden;
  }
}

.checkmark__check{
  stroke-width: 15;
  transform-origin: 50% 50%;
  stroke-dasharray: 120;
  stroke-dashoffset: 120;
  animation: stroke 1s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke{
  100%{stroke-dashoffset: 0}
}