*{
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto Condensed', sans-serif;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

nav{
  display: flex;
  box-shadow: 0px 0px 10px rgb(73, 73, 73);
  width: 100vw;
  height: 12.5vh;
  position: fixed;
  top: 0;
}

.logo{
  margin-left: 4vw;
  height: 8vh;
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
  border-radius: 100rem;
}

.toggle{
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  top: calc(8.75vh - 2rem);
  left: 1rem;
  border-radius: 50%;
  box-shadow: 0 0.5vh rgb(141, 141, 141);
  border: none;
  color: #de2323;
  font-weight: 1000;
  position: absolute;
  font-size: x-small;
}

.toggle:active{
  transform: translateY(0.5vh);
  box-shadow: none;
}

.name{
  font-weight: 20;
  font-size: 1.75rem;
  font-family: 'Baloo Tamma 2', cursive;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 1vw;
  color: #de2323;
}

.sec{
  margin: auto 1% auto 1%;
  width: 10vw;
  text-align: center;
  vertical-align: middle;
  line-height: 4.5vh;
  font-size: 1.5rem;
  cursor: pointer;
  overflow-y: hidden;
}

.sec:hover{
  animation-name: seccolor;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes seccolor{
  100% {background-color: #8f8f8f; color: #de2323;}
}

.completepage{
  width: 100vw;
  margin-top: 12.5vh;
  min-height: 87.5vh;
}

.evalstitle{
  text-align: center;
  line-height: 15vh;
}

.boxes{
  display: inline-grid;
  border: 3px solid #de2323;
  width: 15.5vw;
  height: 15.5vw;
  margin: 0px 2.15vw 1.5vw 2.15vw;
  border-radius: 20px;
  cursor: pointer;
  font-size: 3.5rem;
  line-height: 14.5vw;
}

@keyframes expands{
  0% {display: inline;}
  100% {width: 16.4vw; height: 16.4vw; transform: translate(-0.45vw, -0.45vw); line-height: 15.45vw;}
}

.boxes:hover{
  animation: expands .2s;
  animation-fill-mode: forwards;
}

.course{
  min-height: 20vh;
}

.return{
  box-shadow: 0.25vh 0.5vh #de2323;
  border: none;
  background-color: #f73e4b;
  font-weight: 1000;
  margin-left: 2vw;
  margin-right: auto;
  margin-bottom: 3vh;
  border-radius: 5px;
  width: 5vw;
  height: 3vh;
}

@keyframes returnbutton{
  100% {transform: translate(0.25vh, 0.5vh); box-shadow: none;}
}

.return:active{
  animation-name: returnbutton;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.welcome{
  margin-left: calc(50vw - 22rem);
  margin-right: calc(50vw - 22rem);
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.home{
  display: grid;
}

.intro{
  margin: -5vh 2vw 4vh 2vw;
  font-size: 1.25rem;
}

.video{
  margin-left: auto;
  margin-right: auto;
  margin-top: -5vh;
  border-radius: 2vw;
  border: 3px solid #de2323;
}

.soon{
  font-size: 5rem;
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
}

.routetovids{
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.videos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 3vh;
}

.vid{
  margin: 3vh 3vw 0px 3vw;
}

.resside{
  width: 30vw;
  height: 85vh;
  position: fixed;
  border: 3px solid #de2323;
  border-radius: 2.5vw;
  display: flex;
  flex-wrap: wrap;
}

.hidescrollbar{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hidescrollbar::-webkit-scrollbar {
  display: none;
}

.ressideelem{
  margin: 2vh 2vw;
  font-size: medium;
}

.employ{
  display: flex;
  flex-wrap: wrap;
  margin-left: 32vw;
}

.project{
  margin: 3vh 2vw 0px 2vw;
  display: grid;
  overflow: hidden;
  border: 3px solid #de2323;
  border-radius: 2.5vw;
}

.aboutimage{
  height: 35vh;
}

.aboutimage:hover{
  animation: pop 1s;
  animation-fill-mode: forwards;
}

@keyframes pop{
  100% {opacity: 1}
}

.rotate{
  animation: rotation 2s;
}

@keyframes rotation {
  100% {transform: rotate(360deg);}
}

.downloadPDF{
  animation: downloadPDF 1s forwards;
}

@keyframes downloadPDF {
  100% {
    width: 0vh;
    padding: 0vh;
    display: hidden;
  }
}

.checkmark__check{
  stroke-width: 15;
  transform-origin: 50% 50%;
  stroke-dasharray: 120;
  stroke-dashoffset: 120;
  animation: stroke 1s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke{
  100%{stroke-dashoffset: 0}
}

.aboutme{
  background-position: 0px 0px,0px 0px,0px 0px,0px 0px;
  background-image: radial-gradient(39% 47% at 73% 37%, #1A1B82FF 0%, #3C529D00 100%),radial-gradient(75% 75% at 69% 42%, #D11CE061 0%, #00000017 100%),radial-gradient(76% 75% at 62% 73%, #791A53FF 0%, #00000000 100%),radial-gradient(75% 75% at 50% 50%, #000000FF 0%, #000000FF 100%);
}

.star{
  background-size: 100% 100%;
  background-position: 0px 0px;
  position: absolute;
  z-index: -20;
}

@keyframes glow {
  50% {opacity: 0.75;}
  100% {opacity: 1;}
}