.aboutme-right-section {
	display: flex;
	background-color: rgba(0, 0, 0, 0.6);
	flex-direction: column;
	width: 52.5%;
	border-radius: 1rem;
	padding: 1rem;
	gap: 1rem;
	margin-left: 2.5%;
}

.aboutme-games-scroll {
	width: 100%;
	overflow-x: auto;
}

.about-me-games-text-container {
	display: flex;
	width: 100%;
	justify-content: center;
}

.aboutme-games-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 0.5rem;
	width: 68.5rem;
}

.aboutme-left-section {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 40%;
	gap: 3rem;
}

.aboutme-game-title {
	font-family: "Graphik";
	margin: 1rem 0 0 0;
	color: white;
	font-size: 2.25rem;
}

@media (max-width: 768px) {
	.aboutme-right-section {
		width: 100%;
		padding-left: 0px;
		padding-right: 0px;
	}
	.aboutme-left-section {
		width: 100%;
		padding: 3rem 1rem;
	}
	.aboutme-games-container {
		flex-wrap: wrap;
		justify-content: center;
		gap: 1rem;
	}
}
